@tailwind base;

@tailwind components;

@tailwind utilities;

.svg-map__location {
  fill: #cbd5e0 !important;
}

.svg-map__location[aria-checked='true'] {
  fill: #3182ce !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #edf2f7;
}

/* Race page */

.sliding-background {
  background: url('./../images/background.jpg') repeat-x;
  background-size: contain;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0); /* The image width */
  }
}

.wood {
  background: url('./../images/wood-texture.jpg');
  background-size: cover;
}
